<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <display-name>Club Athletes</display-name>
        <servlet-name>Club Athletes</servlet-name>
        <servlet-class>runnersdb.Athlete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Club Athletes</servlet-name>
        <url-pattern>/clubathlete</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Club Athletes 2</display-name>
        <servlet-name>Club Athletes 2</servlet-name>
        <servlet-class>runnersdb.Athlete2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Club Athletes 2</servlet-name>
        <url-pattern>/clubathlete2</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Trainers</display-name>
        <servlet-name>Trainers</servlet-name>
        <servlet-class>runnersdb.Trainer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trainers</servlet-name>
        <url-pattern>/trainer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Athletes3</servlet-name>
        <servlet-class>runnersdb.Athlete3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Athletes3</servlet-name>
        <url-pattern>/clubathlete3</url-pattern>
    </servlet-mapping>
</web-app>